<mat-card class="w90">

  <mat-card-title>Fitting Scanners</mat-card-title>

  <div width="500px">
    <!--  <table class="table table-bordered table-condensed">-->
    <table>
      <tr>
        <th width="30%">Title</th>
        <th width="60%">Regex</th>
        <th width="10%">Scan</th>
      </tr>
      <tr *ngFor="let s of scannerShorts">
        <ng-container>
          <td><a [routerLink]="['/scanner-units', s.id]">{{s.name}}</a></td>
          <td>{{s.regex}}</td>
          <td> <span (click)="scan(s.id!!)"> Scan</span></td>
          <!--        <td><ng-container *ngIf="b.folder_id">-->
          <!--          <a [routerLink]="['/folders', b.folder_id || 0]">folder</a></ng-container></td>-->
          <!--        <td><a [routerLink]="['/scanner']"  [queryParams]="{url: b.url}">Scan</a></td>-->
        </ng-container>
      </tr>
    </table>

Common Url-Start: {{commonUrlStart}}
    <table>
      <tr>
        <th width="30%">Location Name</th>
        <th width="60%">Location Uri</th>
        <th width="10%">Scan</th>
      </tr>
      <tr *ngFor="let location of locations">
        <ng-container>
          <td>{{location.name}}</td>
          <td>{{location.uri}}</td>
        </ng-container>
      </tr>
    </table>
  </div>
</mat-card>

<button (click)="createDefaultLocation()"> Create Default Location</button>
