<mat-card class="w90" *ngIf="!tnView">

  <mat-card-title>Mset</mat-card-title>


  <div class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Ex. Pizza"
             [(ngModel)]="mset.name"
      >
    </mat-form-field>
  </div>
  <div> Created at: {{mset.created_at|date: 'full' : 'de'}}</div>

  <div> Updated at: {{mset.updated_at|date: 'd,m, y, h:mm:ss z'}}</div>

  <button mat-raised-button color="warn" (click)="save()">Save</button>
  <button mat-raised-button color="primary" (click)="new()">New</button>
  <button mat-raised-button color="warn" (click)="delete()">Delete</button>

  <button mat-raised-button color="info" (click)="showTnView()">Show TNs</button>

</mat-card>
<div *ngIf="tnView"><span (click)="tnView=!tnView" class="top" > MSET: {{mset.name}} </span>
<span class="topRight">
  <button class="topRigt" mat-mini-fab color="primary" (click)="shift(-1)"> <<</button>
  <button class="topRigh" mat-mini-fab color="primary" (click)="shift(+1)"> >></button>
</span></div>

<app-tns-view *ngIf="tnView" [ressourceUrlsList]="ressourceUrls"></app-tns-view>
<app-media-list *ngIf="!tnView"   [media]="mset.media"></app-media-list>
